* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightblue;
  padding: 30px;
  font-size: 32px;
  max-height: 30px;
}
#rightSide {
  display: flex;
  align-items: center;
}
#addNewBtn {
  padding: 10px;
  border: none;
  background-color: whitesmoke;
  color: darkgrey;
}
#addNewBtn:hover {
  color: lightblue;
  border: 2px solid darkgrey;
}
#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: darkgray;
  text-align: center;
  padding: 10px;
}
#popUpForm {
  margin-top: 50px;
}

form {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  background-color: lightblue;
  color: black;
  width: 350px;
  padding: 20px;
  gap: 20px;
  border: 3px solid black;
  border-radius: 10px;
  font-weight: 600;
  margin: auto;
}
#add {
  grid-column: 1/3;
  width: clamp(100px, 80%, 250px);
  justify-self: center;
  color: white;
  background-color: darkgrey;
  border: none;
  padding: 10px;
  border-radius: 10px;
}
